html
 head
   meta(charset='UTF-8')
   title Assignment #5
//   link(rel='stylesheet', href='stylesheet.css', type='text/css')
body
    h1 Welcome to the grocery inventory web application
    block content
      
